body {
    margin: 10px;
    padding: 3px;
    background: #0C0C18;
    font-family: monospace;
    font-size: normal;
    color: #cccccc;
    /*    padding-bottom: 400vh;*/
}
/* Display error mesasges in bright red */

#error-display {
    color: #ff0000;
}

div[data-formula] {
    /*    display: table;*/
    
    margin: auto;
}

#playground-display {
    width: 700px;
    max-width: 90vh;
    max-height: 90vh;
    margin: auto;
}

form {
    width: 90%;
    overflow: hidden;
}

input {
    width: 100%;
    border-color: #55a;
    border-style: groove;
    background-color: black;
    color: aliceblue;
    padding: 3px;
}

span {
    display: block;
    overflow: hidden;
    padding-right: 10px;
}

button {
    padding: 3px;
    float: right;
    background-color: black;
    color: aliceblue;
    border-style: groove;
    border-color: #55a;
}

a {
    color: #3333ee;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

div[data-formula]:last-of-type canvas {
    padding-bottom: 400px;
}

.example-label {
    display: none;
    color: aliceblue;
    font-size: 250%;
    max-height: 300px;
}

div[data-formula] canvas {
    float: left;
    margin: auto;
    transition: all .3s ease-in-out;
}

div[data-formula] canvas:hover {
/*    transform: scale(2);*/
}

div[data-formula] canvas:hover + .example-label, .example-label:hover {
    background-color: #0C0C18;
    display: flex;
    position: fixed;
    bottom: 1em;
}